/* General styles */
* {
  margin: 0;
  padding: 0;
}

/* Fade-in Animation */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #2f2f2f;
  color: #ffffff;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: 'League Spartan', sans-serif;
  color: #fbd930;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Home page styles */
/* Header */
header {
  background-color: #444;
  color: #fbd930;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  height: 2.5vw;
  margin-right: 10px;
}

header nav ul {
  display: flex;
  gap: 1.5rem;
}

header nav ul li {
  padding: 0.5rem 1rem;
}

header nav ul li a {
  font-weight: bold;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #ffffff;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*text-align: center;*/
  margin: 10rem 1rem 10rem 1rem;
  padding: 2rem 1rem;
  border-radius: 10px;
  color: #ffffff;
}

.hero #hero-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-left: 3rem;
  padding-right: 0;
}

.hero #hero-section #headings h1 {
  font-size: 6rem;
  animation: fadeIn 1s ease-in-out;
}

.hero #hero-section #headings p {
  font-size: 1.5rem;
  margin-top: .5rem;
  margin-bottom: 2rem;
  max-width: 75%;
  animation: fadeIn 2s ease-in-out;
}

.hero #home-image {
  align-items: center;
}

.hero #home-image img {
  max-width: 80%;
  display: block;
  margin: 1rem auto 0;
  border-radius: 100px;
  animation: fadeIn 1s ease-in-out;
}

.cta-button {
  background-color: #ffcc00;
  color: #2f2f2f;
  padding: 1rem 5rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  animation: fadeIn 3s ease-in-out;
  transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Sections */
section {
  padding: 2rem 1rem;
  margin: 1.5rem 0;
  text-align: center;
}

section h1 {
  font-size: 4rem;
}

section p {
  font-size: 1.5rem;
}

/* About Section */
section#about {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

section#about h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
}

section#about p {
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 1rem;
}

section#about iframe {
  border-radius: 30px;
  width: 75rem;
  height: 40rem;
}
/* Perks Section */
section#perks {
  display:flex;
  justify-content: space-around;
  align-items: center;
}

#perks-title h1{
  font-size: 4rem;
  text-align: center;
}

.perk-box {
  background-color: #3b3b3b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

.perk-box img {
  max-width: 50%;
  margin-top: 1rem;
}

.perk-box h3 {
  font-size: 3rem;
  margin-top: 1rem;
}

.perk-box p {
  padding-bottom: 5%;
}

.perk-box-title {
  max-width: 50%;
}

.perk-box-description {
  max-width: 75%;
}

/* Join Us Section */
section#join {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 5rem;
  margin-bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/static/images/metea-valley-join-the-chapter.png);
  background-position: center;
  background-size: cover;
  height: 25vw;
}

section#join img {
  max-width: 50%;
}

section#join p {
  max-width: 50%;
  margin-bottom: 2rem;
}

.transforming-button {
  margin-top: 1rem;
  padding: 1rem 6rem;
  font-size: 1rem;
  font-weight: bold;
  color: #2f2f2f;
  background-color: #fbd930;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.transforming-button:hover {
  background-color: #2f2f2f;
  color: #fbd930;
  transform: scale(1.1);
}
/* Contact Us Section */
section#contact {
  margin: 0 0;
  background-color: #fbd930;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #2f2f2f;
}

section#contact h1, h2{
  color: #2f2f2f;
}

.contacts {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-box {
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 2rem 1rem;
}

.contact-box img {
  max-width: 50%;
  border-radius: 3rem;
  margin-bottom: 2rem;
}

.contact-box h2 {
  font-size: 3rem;
}


/* Footer */
footer {
  background-color: #333;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #bbb;
}

footer p {
  margin: 0;
}

/* Styles for the other pages */
/* Other general components */
.info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #3b3b3b;
  padding: 1.5rem;
  margin: 1rem auto;
  border-radius: 10px;
  max-width: 800px;
}

.info-box p {
  margin: 0.5rem 0 1rem 0;
}

.info-box h2 {
  color: #fbd930;
  font-size: 3rem;
}

.main-content {
  background-color:#3b3b3b;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}

.main-content ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main-content ul li {
  margin: .5rem;
  padding: .5rem 1.5rem;
  background-color: #303030;
  border-radius: 10px;
}

.page-headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem 5rem;
  height: 25vw;
  margin: 0 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/static/images/metea-valley-photo.png);
  background-position: center;
  background-size: cover;
}
.page-headings h1 {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  animation: fadeIn 1s ease-in-out;
}

.page-headings p {
  font-size: 1.5rem;
  animation: fadeIn 2s ease-in-out;

}
/* About page */
#values {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

input {
  width: 30rem;
  height: 3rem;
  margin: .5rem;
  border-radius: 5px;
}

textarea {
  width: 30rem;
  height: 10rem;
  margin: .5rem;
  border-radius: 5px;
}

/* Contact Us Page */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Media Queries (makes website appear decent on different screen sizes) */
@media screen and (max-width: 1800px) {
  * {
    margin: 0;
    padding: 0;
    font-size: 1vw;
  }
}

@media screen and (max-width: 1200px) {
  * {
    font-size: 1.5vw;
  }
  .hero {
    flex-wrap: wrap;
  }

  #perks {
    flex-wrap: wrap;
  }

  #contact {
    flex-wrap: wrap;
  }

  section#join {
    margin-top: 5rem;
    height: 75rem;
  }

  .page-headings {
    height: 25rem;
  }

  section#about iframe {
    width: 40rem;
    height: 20rem;
  }
}